a {
	display: inline-block;
	background-color: #f44336;
	text-align: center;
	cursor: pointer;
	width: 100%;
	text-decoration: none;
	height: 30px;
	color: White;
}

a:link {
	
}

a:visited {
	color: #00CED1;
}

a:hover {
	text-decoration: underline;
	opacity: 0.8;
}

a:active {
	color: #800000;
}